<div class="scrollable">
    <div class="scrollable-content section">

      <div>
        <form action="" id="">
            <div bs-panel title="">

                <input bs-form-control type="text" ng-model="scope.nome" label="" label-class="col-xs-3 col-sm-2 col-lg-1" class="col-xs-10 col-sm-11 col-lg-12" placeholder="Nome" />
                <input bs-form-control type="text" ng-model="scope.telefone" label="" label-class="col-xs-3 col-sm-2 col-lg-1" class="col-xs-10 col-sm-11 col-lg-12" placeholder="Telefone" />
            </div>
        </form>
      </div>


    </div>
</div>
